.close-post-btn {
    position: fixed !important;
    margin-right: 10px;
    margin-top: 10px;
    top: 0 !important;
    right: 0 !important;
    margin-right: auto;
    background-color: transparent;
    /* animation: popup 400ms forwards; */
}

.close-img {
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.new-post-container {
height: 50vh;
width: 55vw;
background-color: white !important;
border-radius: 10px;
display: flex;
flex-direction: column;

}

.new-post-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 103.5%;
    height: 40px;
    border-bottom: 0.5px solid #dbdbdb;
}

.new-post-title {
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
}

.post-submit-btn {
    font-size: 15px;
    font-weight: 600;
    color: #0095f6;
    cursor: pointer;
    margin-left: -20px;
    margin-right: 20px;
}

.newPost-bot-container {
    display: flex;
    flex-direction: row;
}

.post-user-image {
    height: 25px;
    width: 25px;
    object-fit: cover;
    border: 50%;
    user-select: none;
}

.post-username {
    font-size: 18px;
    font-weight:500;
    margin-left: 8px;
}

.image-preview {
    position: relative;
    top: 20px;
    max-width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.left-mid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 500px;
    
}

.right-mid-container {
    width: 25vw;
    position: relative;
    left: 20px;
    
}

.user-new-post {
    height: 60px;
    padding: 0 16px;
    display: flex;
    width: 290px;
    align-items: center;
    
}

.new-post-caption {
    padding:0 16px;
    border: none ;
    resize: none;
    font-size: 16px;
    height: 20vh;
    width: 100%;
    background-color: transparent;
}

.new-post-caption:focus {
    outline: none !important;
}

.new-url-post {
    position: relative;
    top: 7px;
    left: 26px;
    height: 44px;
    outline: none;
    border: none;
    
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    color:#ee0b1e;
    font-weight: 500;

}

.new-post-err {
    padding: 20px 15px;
    color:#ed4956;
    font-size: 16px;
}

.preview-new-post {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-post-upload {
    display: flex;
    justify-content: center;
}

#get-photo {
    height:24px ;
    border-radius: 5px;
    background-color: #0095f6;
    border: transparent;
    color: white;
}

#get-photo:hover {
    cursor: pointer;
}

.character-count {
    position: relative;
    left: 200px;
    bottom: 20px;
    color: rgb(199, 199, 199)
}