.outer-nav-container {
    height: 65px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(220, 220, 220);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    z-index: 10;
    top: -9px
}

.nav-msg-btn:hover {
    cursor: pointer;
}

.mid-nav-container {
    display: flex;
    margin: auto;
    width: 1000px;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.right-nav {
    display: flex;
    align-items: center !important;
    gap: 10px;
    background-color: transparent;
    width: 250px;
    /* font-stretch: 100%; */
    position: relative;
    bottom: 5px;
    right: 75px;
    

}

.nav-btns:hover {
    cursor: pointer;
}

.dm-btn {
    width: 28px;
    height: 28px;
}

.dm-btn:hover {
    cursor: pointer;
}

#navbar-profile-img {
    display: flex;
    height: 28px;
    width: 28px;
    position: relative;
    right: 6px;
    bottom: 2.5px;
    
}

#navbar-profile-img:hover {
    cursor: pointer;
    border: 2px black solid;
    border-radius: 50%;
}

.search-container {
    display:flex;
}

.dropdown-menu-container {
    border-radius: 8px;
    height: 140px;
    width: auto;
    background-color: #ffffff;
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 40px;
    border: 2px rgb(213, 213, 213) solid;
    right: -44px;
}

.profile-dropdown-container {
    position: relative;
    left: 8px;
    top: 14px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;


}

.about-us-container {
    height: 30px;
    width: 220px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dropdown-about-ptag {
    font-size: 14px;
    font-weight: 500;
    position: relative;
    left: 5px;
}

.dropdown-about-ptag:hover {
    cursor: pointer;
    color: rgb(9, 255, 0);
    
}

.dropdown-a-tags {
    
    text-decoration: none;
    color: black;
}

.dropdown-logout {
    height: 30px;
    width: 100%;
    position: relative;
    top: 24px;
    border: none;
}

.about-inner-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 18px;
    left: 8px;
    
}

.logout-btn-container {
    height: 20px;
    border-top: 1px black solid;

}

.logout-btn {
    border-top: 1px black solid;
    display: flex;
    justify-content: flex-start;
    position: relative;
    top:12px;
    height: 30px;
    width: 100%;
    border: none;
    background-color: transparent;
    align-items: center;
    left: 20px;
    font-size: 14px;
}

.logout-btn:hover {
    cursor: pointer;
    color: red;
    
}

.dropdown-profile-ptag {
    font-size: 14px;
    font-weight: 500;
    position: relative;
    left: 6px;
}

.dropdown-profile-ptag:hover {
    cursor: pointer;
    color: #0095f6;
    
}

