.user-profile-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 85px;

    color: rgb(0, 0, 0);
}

#user-img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    position: relative;
    right: 170px;
    bottom: 50px;
    
}
.user-profile-img{
    top: 85px;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-items: center;
    object-fit: cover;
}

#user-profile-username {
    font-weight:300;
    position: relative;
    bottom: 20px;
}

#user-description{
    margin-top:5px;
}

.user-stats-container {
    display: flex;
    align-content: center;
    gap: 25px;
    position: relative;
    bottom: 20px;
}

.user-profile-count {
    font-weight: 650;
    
    
}

.top-user-profile {
    display: flex;
    height: 30%;
    width: max-content;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 200px;
    
}

.user-profile-description{
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    left: 355px;
    bottom: 23px;
    
    
}

.user-stats-info {
    display: flex;
    height: fit-content;
    width: fit-content;
    gap: 5px;
}

.user-stats-container {
    position: relative;
    margin-top: 120px;
    display: flex;
    height: 44px;
    width: 350px;
    right: 168px;
}

.user-profile-info {
    display: flex;
    height: 100px;
    width: 150px;
    align-items: center;
    
}

#edit-profile-btn {
    position: relative;
    left: 10px;
    top: 2px;
    background-color: initial;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    font-weight: 700;
    height: 32px;
    white-space: nowrap;
    
    
}

#edit-profile-btn:hover {
    cursor: pointer;
}

.inner-top-profile {
    display: flex;
    flex-direction: column;
    align-content:center;
    position: relative;
    left: 350px;
    
}

#user-profile-username {
    margin-left: 5px;
    padding: 2px;
}

#h3-username{
    font-size: 19px;
}

.profile-imgs {
    height: 293px;
    width: 293px;
    object-fit: cover;
}

.photo-gallery-container {
     display: grid;
        grid-template-columns: repeat(3, minmax(290px, 293px));
        grid-gap: 28px;
        position: relative;
        top: 330px;
        right: 590px;
}

.line-break {
    position: relative;
    top: 30px;
    height: 20px;
    border-top: .5px rgba(215, 215, 215, 0.703) solid;
    width: 940px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.posts-mid-border {
    margin-left: 6px;
    font-size: 14px;
    letter-spacing: 1.5px;
    font-weight: bold;
}

.brighten img {
  
    -webkit-filter: brightness(100%);
    }
    
    .brighten img:hover {
        -webkit-filter: brightness(50%);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    
    }